.AT,
.AT > .--Content {
    margin: 0;
    padding: 0;
}

.AT > .--Content {
    display: flex;
    justify-content: center;
    align-items: center;

    .--Wrapper {
        width: 32rem;
        padding: 0;
    }
}

.AT > .--Content > .--Wrapper > .--Progress-Wrapper > .--Progress {
    margin: 0 !important;
    min-height: 0.5rem;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.AT > .--Content > .--Wrapper > .--Form-Wrapper {
    & {
        > .--Content-Wrapper > .--Title,
        > .--Logo-Wrapper {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        > .--Logo-Wrapper > .--Logo {
            width: 12rem;
            height: 6rem;
        }
    }
}

.AT
    > .--Content
    > .--Wrapper
    > .--Form-Wrapper
    > .--Content-Wrapper
    > .--Content
    > .--Form
    > .--Form-Group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .--Item {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

.AT
    > .--Content
    > .--Wrapper
    > .--Form-Wrapper
    > .--Content-Wrapper
    > .--Content {
    > .--Form,
    & {
        > .--Footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 !important;
        }

        > .--Footer.--With-Error {
            margin-top: 5rem;
            .--Item {
                text-align: right;
            }
        }
    }
}

.AT
    > .--Content
    > .--Wrapper
    > .--Form-Wrapper
    > .--Content-Wrapper
    > .--Content
    > .--Form
    > .--Footer
    > .--Item {
    margin-left: 0 !important;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .AT > .--Content {
        height: 100vh;
    }

    .AT > .--Content > .--Wrapper > .--Form-Wrapper {
        padding: 2rem;
        min-height: 75vh;
    }
}
