.MT > .--Content > .--Wrapper {
    margin: 1.5rem;
}

.MT > .--Toolbar > div > .--Actions > #--Account > .--Account-Menu-Items {
    width: 16rem;
}

.MT
    > .--Toolbar
    > div
    > .--Actions
    > #--Account
    > .--Account-Menu-Items
    > .--Profile {
    background-color: #eeeeee;
    margin: -0.3rem 0rem 0.5rem 0rem;
}

.MT
    > .--Toolbar
    > div
    > .--Actions
    > #--Account
    > .--Account-Menu-Items
    > .--Profile
    .--Avatar-Circle {
    margin: -0.75rem -1.5rem 0rem 0rem;
}

@media only screen and (max-width: 768px) {
    .MT > .--Content > .--Wrapper {
        margin: 0.25rem;
    }

    .MT
        > .--Toolbar
        > div
        > .--Actions
        > #--Account
        > .--Account-Menu-Items
        > .--Profile {
        background-color: #eeeeee;
        margin: -0.6rem 0rem 0.5rem 0rem;
    }
}
