.MT-Content {
    min-height: 75vh;
    padding: 1.25rem;
    margin: 0.75rem;
}

@media only screen and (min-width: 768px) {
    .MT-Content {
        padding: 2.5rem;
        margin: 1.5rem;
    }
}
