@import './variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~react-md/src/scss/react-md';

@include react-md-everything;
@include react-md-theme-everything(
    $md-primary-color,
    $md-secondary-color,
    false,
    'dark-theme'
);

a {
    text-decoration: none;
    color: $md-primary-color;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.text-success {
    color: $success-color !important;
}

.text-warning {
    color: $warning-color !important;
}

.text-error {
    color: $error-color !important;
}

.text-info {
    color: $info-color !important;
}

.bg-success {
    background-color: $success-color !important;
}

.bg-warning {
    background-color: $warning-color !important;
}

.bg-error {
    background-color: $error-color !important;
}

.bg-info {
    background-color: $info-color !important;
}

.text-center {
    text-align: center !important;
}
