.--Card {
    min-height: 75vh;
}

.--Card > .--Header > .--Actions {
    width: 100%;
}

.--Card > .--Header > .--Actions > .--Action.--Filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.--Card > .--Header > .--Actions > .--Action.--Primary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 768px) {
    .--Card {
        min-height: 50rem;
    }

    .--Card > .--Header {
        height: 30rem;
    }

    .--Card > .--Header > .md-card-title--contextual {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .--Card > .--Header > .md-card-title--contextual > * {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
    }
}
